@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Poppins&display=swap');

main {
    margin: 1rem 5rem;
}

#heading {
    width: 644px;
    height: 27px;
    margin: auto;

    text-align: center;
    font-family: 'BioRhyme';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    /* or 86% */
    color: #000000;
}

#footer-text {
    position: absolute;
    width: 573px;
    height: 58px;
    bottom: 3vh;
    margin: auto;

    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 38.713px;
    line-height: 58px;
    color: #09B298;
}

#dark-grey-letters {
    color: #454545;
}