<main>
    <h1 id="heading">What kind of program would you like?</h1>
    <app-program-list [programs]="programs"></app-program-list>
</main>
<footer class ="flex justify-center">
    <p id="footer-text">
        <span id="dark-grey-letters">This will </span>Evolve Your Lifestyle</p>
</footer>