li {
    padding: 1rem 2rem;
    border-radius: 36.2934px; 
    height: 100%;
    background-color: rgba(28, 126, 166, 0.2);
    
    /* display: grid;
    /*grid-template-columns: 2fr 1fr; */
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23.1288px;
    line-height: 38px;
}