<nav class ="sticky top-0 w-full z-50">
    <ul class = "flex bg-teal-400 justify-between text-white items-center p-3 ">
        <div class ="flex space-x-4">
        <img src = "../../assets/images/logo.png" class ="block w-12"/>
        <li> 
            <a routerLink ="/faq"><img src="../../assets/images/faq-icon.png" class="block w-10 hover:bg-violet-800 p-2 rounded-md" /></a>
        </li>
        </div>
        <div class ="flex space-x-6">
            <li>
                <a routerLink="/userprofile"><img src="../../assets/images/settings-icon.png" class="block w-10 hover:bg-violet-800 p-2 rounded-md" /></a>
            </li>
            <li>
                <a routerLink="/programs"><img src="../../assets/images/programs-icon.png" class="block w-10 hover:bg-violet-800 p-2 rounded-md" /></a>
            </li>
            <li> 
                <a routerLink="/goal" ><img src="../../assets/images/home-icon.png" class="block w-10 hover:bg-violet-800 p-2 rounded-md" /></a>
            </li>
            <li> 
                <button class ="border-l-2 border-l-white p-2" (click)="handleLogoutClick()">Log out</button>
            </li>
        </div>
    </ul>
</nav>
