<div>
    <p> <button (click)="btnShowDescription()"  class="bg-transparent hover:bg-inherit font-semibold hover:tex-bla border border-black hover:border-transparent rounded-full" style="height: 35px; width: 35px;"> i </button> &nbsp;&nbsp; {{exercise?.name}} </p>
<div>