<div>
    <div *ngIf="loading; else display">
        <p> Loading . . . </p>
    </div>

    <ng-template #display>

    <!---TODO: REFACTOR -->

    <div *ngIf = "updateWorkoutBool" class = "flex justify-center">
        
        <!--Workout 1 -->
        <div class = "w-75 inline-grid grid-cols-1 gap-10 border-gray-300 p-5 mx-2 my-2 bg-teal-400" >
            <div class="float-left place-content-center">
                <section  class="text-xl p-5 mx-2 my-2 bg-teal-400">
                <p> {{userWorkoutsList["0"]["workoutName"]}} </p> 
                </section>
            </div>
            <div *ngFor="let item of exercises" class="float-left place-content-center">
                <section  class="text-xl border-4 border-gray-300 p-5 mx-2 my-2 bg-slate-300">
                    <app-exercise-item [exercise]="item" (notifyParent)="getShowDescription($event)"></app-exercise-item>
                </section>
            </div>
            <!--checkbox 1 -->
            <app-workout-checkbox [workout]="workout1" (notifyProgress)="getValueFromCheckbox1($event)" class="flex justify-center"></app-workout-checkbox>
        </div>

        <!--Workout 2 -->
        <div class = "w-75 inline-grid grid-cols-1 gap-10 border-gray-300 p-5 mx-2 my-2 bg-teal-400" >
            <div class="float-left place-content-center">
                <section  class="text-xl p-5 mx-2 my-2 bg-teal-400">
                <p> {{userWorkoutsList["1"]["workoutName"]}} </p> 
                </section>
            </div>
            <div *ngFor="let item of exercises2" class="float-left place-content-center">
                <section  class="text-xl border-4 border-gray-300 p-5 mx-2 my-2 bg-slate-300">
                    <app-exercise-item [exercise]="item" (notifyParent)="getShowDescription($event)"></app-exercise-item>
                </section>
            </div>
            
            <app-workout-checkbox [workout]="workout2" (notifyProgress)="getValueFromCheckbox2($event)" class="flex justify-center"></app-workout-checkbox>
        </div>

        <!--Workout 3 -->
        <div class = "w-75 inline-grid grid-cols-1 gap-10 border-gray-300 p-5 mx-2 my-2 bg-teal-400" >
            <div class="float-left place-content-center">
                <section  class="text-xl p-5 mx-2 my-2 bg-teal-400">
                <p> {{userWorkoutsList["2"]["workoutName"]}} </p> 
                </section>
            </div>
            <div *ngFor="let item of exercises3" class="float-left place-content-center">
                <section  class="text-xl border-4 border-gray-300 p-5 mx-2 my-2 bg-slate-300">
                    <app-exercise-item [exercise]="item" (notifyParent)="getShowDescription($event)"></app-exercise-item>
                </section>
            </div>
            <app-workout-checkbox [workout]="workout3" (notifyProgress)="getValueFromCheckbox3($event)" class="flex justify-center"></app-workout-checkbox>
        </div>
        
    </div>

    <mat-card class="example-card">
        <mat-card-content class = "absolute bottom-0 right-0  ...">
            <div class = "text-sm shadow-xl inline-grid grid-cols-1 p-5 mx-2 my-2">
                <h2 class="example-h2 text-xl"> Weekly Progress </h2>
                <mat-progress-spinner class="example-margin place-content-center" [color]="color" [mode]="mode" [value]="value">
                </mat-progress-spinner>
            </div>
        </mat-card-content>
    </mat-card>

    <div class = "w-8/12 justify-center">
        <div class = "text-sm shadow-xl inline-grid grid-cols-1 p-5 mx-2 my-2" *ngIf="showDescription; else noDescription">
            <h1 class = "text-3xl"> Exercise Information </h1>
            <p class = "text-xl"> {{description}} </p>
        </div>
    
        <!-- If not show -->
        <ng-template #noDescription>
            <p> </p>    
        </ng-template>
    </div>
    </ng-template>

</div> 

