
#heading {

    width: 563px;
    height: 372px;

    font-family: 'BioRhyme';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 124px;

    color: #000000;
}

#paragraph {

    width: 500px;
    height: 89px;


    font-family: 'BioRhyme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    letter-spacing: -0.01em;

    color: #000000;

}

#login-button {

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17.6px 35.2px;
    gap: 16px;

    width: 262.4px;
    height: 80.2px;

    background: #FF6060;
    border-radius: 80px;
    border: none;

    /* text: */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 38.4px;
    line-height: 45px;
    color: #FFFFFF;
}

