<main>
  <div class="flex justify-center space-x-4 pt-10 items-center">
    <div>
      <h1 id="heading">Unlock your potential and get fit today!</h1>
      <p id="paragraph" class ="pt-4">Track your workouts, get better results, and be the best version of you. Less thinking, more lifting.</p>
    </div>
    <div>
      <img src = "../../../assets/images/landingpage-img.png" class ="w-4/5"/>
      <div class ="pl-36">
        <button id="login-button" *ngIf="!authenticated" (click)="doLogin()">Log in</button>
      </div>
    </div>
  </div>
</main>
