<mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Result</h2>
      <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner>
    </mat-card-content>
</mat-card>

