<main *ngIf="goal">
    <h1 class = "text-4xl"> Welcome to your program! </h1>
    <app-period [endDateString]="goal.endDate"></app-period> 
    <app-exercise-list [userWorkouts]="workouts"></app-exercise-list>
</main>