
<h1 class="text-center text-2xl pt-8">Profile settings</h1>

<div class = "flex justify-center pt-6">

<form #updateProfile="ngForm" (ngSubmit)="update(updateProfile)">
  
  <div class = "flex justify-between space-x-4 items-center">
    <div>
      <p>First name: </p>
        <mat-card class="example-card w-60">
          <mat-card-header>
              <mat-card-title [ngModel]="FirstName">{{FirstName}}</mat-card-title>
          </mat-card-header>
        </mat-card>
        <pre></pre>
    </div>

    <div >
      <p >Last name: </p>
      <mat-card class="example-card w-60">
        <mat-card-header>
            <mat-card-title [ngModel]="LastName">{{LastName}}</mat-card-title>
        </mat-card-header>
      </mat-card>
      <pre></pre>
    </div>
    
  </div>

  <p class = "pt-4">Email: </p>
  <mat-card class="example-card">
    <mat-card-header>
        <mat-card-title [ngModel]="Email">{{Email}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <pre></pre>

  <ng-container *ngIf="Height !== undefined && Weight !== undefined">
  <div class = "flex justify-between pt-10">
    <mat-form-field appearance="fill" class ="w-60">
      <mat-label for="Height">Height: </mat-label>
      
      <input matInput type="number" [ngModel]="Height" (ngModelChange)="Height=$event" name="Height" id="Height" placeholder="cm"/>
    </mat-form-field>
    <pre></pre>

    <mat-form-field appearance="fill" class = "w-60">
      <mat-label for="Weight">Weight: </mat-label>
      <input matInput type="number"  [ngModel]="Weight" (ngModelChange)="Weight=$event" name="Weight" id="Weight" placeholder="kg"/>
    </mat-form-field>
    <pre></pre>
  </div>
  </ng-container>


  <form class = "flex justify-between">
    <mat-form-field appearance="fill" class = "w-60">
      <mat-label>Fitness Levels</mat-label>
      <mat-select [(ngModel)]="selectedFitnessLevelValue" name="fitnessLevel">
        <mat-option *ngFor="let fitnessLevel of FitnessLevels" [value]="fitnessLevel.value">
          {{fitnessLevel.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <pre></pre>
    <mat-form-field appearance="fill" class ="w-60">
        <mat-label>Fitness Goal</mat-label>
        <mat-select [(ngModel)]="selectedFitnessGoalValue" name="fitnessGoal">
          <mat-option *ngFor="let fitnessGoal of FitnessGoals" [value]="fitnessGoal.value">
            {{fitnessGoal.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form> 

  <div class="flex justify-center pt-8">
    <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar" class="btn btn-primary bg-blue-800 text-white font-bold rounded-md p-1 w-24" type="submit">Save</button> 
  </div>
</form>
</div>
