<h1 class="text-center text-xl pt-8">Profile registration</h1>

<div class ="flex justify-center space-x-6 pt-10">
  <img src="../../../../assets/images/registration-img.png" class ="block w-72" />
  <div class ="RegistrationFormContainer justify-center">
    <form #register="ngForm" (ngSubmit)="submit(register)">

        <mat-form-field appearance="fill">
          <mat-label for="Height">Height: </mat-label>
          <input matInput type="number" ngModel #Height="ngModel" name="Height" id="Height" placeholder="cm"/>
        </mat-form-field>
        <pre></pre>

        <mat-form-field appearance="fill">
          <mat-label for="weight">Weight: </mat-label>
          <input matInput type="number" ngModel #Weight="ngModel" name="Weight" id="Weight" placeholder="kg"/>
        </mat-form-field>
        <pre></pre>

        <form>
          <mat-form-field appearance="fill">
            <mat-label>Select Fitness Levels</mat-label>
            <mat-select [(ngModel)]="selectedFitnessLevelValue" name="fitnessLevel">
              <mat-option *ngFor="let fitnessLevel of FitnessLevels" [value]="fitnessLevel.value">
                {{fitnessLevel.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p></p>
          <mat-form-field appearance="fill">
              <mat-label>Select Fitness Goal</mat-label>
              <mat-select [(ngModel)]="selectedFitnessGoalValue" name="fitnessGoal">
                <mat-option *ngFor="let fitnessGoal of FitnessGoals" [value]="fitnessGoal.value">
                  {{fitnessGoal.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </form> 
        <div class ="flex justify-center">
          <button class="btn btn-primary bg-gray-200 rounded-md p-2 w-24" type="submit">register</button>
        </div> 
    </form>
  </div>
</div>




 