
<div class = "pr-40 pl-40 pb-60 text-xl">
    <h1 class = "flex justify-center text-4xl pb-10 pt-10">MeFit - User Manual</h1>
    <p>Welcome to the MeFit app! This app is designed to help you track your fitness progress and reach your goals.</p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/landing-page.png" class = "pt-10"/></div>
    <p>The Landing Page is the first page you will see when you visit the app. If you are not authenticated, you will not be able to access the application. To login or register, click on the Login button to get redirected to Keycloak login and registration page.</p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/KC-login.png" class = "pt-10"/></div>
    <p>Here, you can login with your existing user or register a new user by clicking on “Register” below the “Sign In” button. </p>
    <div class = "flex pt-10 justify-center">
        <img src="../../../assets/images/faq/KC-registration.png"/>
        <img src="../../../assets/images/faq/KC-2fa.png"/>
    </div>
    <p>To register, fill in the required fields in the Registration form before clicking on the “Register” button. After registering, set up two-face authentication with either FreeOTP or Google Authenticator by following the instructions as described in the “Mobile Authenticator Setup” form. </p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/registration.png" class = "pt-10"/></div>
    <p>After registering through Keycloak, provide additional information like your height, weight, fitness level and fitness goal before starting your fitness journey. </p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/programs.png" class = "pt-10"/></div>
    <p>The journey begins by selecting one of the registered fitness programs in the app. Click on “Start program” for the program you want to start with as your weekly goal. This will redirect you to the Goal Dashboard where you can track  your progress towards completion.</p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/goal-dashboard.png" class = "pt-10"/></div>
    <p>[Goal Dashboard]</p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/navbar.png" class = "pt-10"/></div>
    <p>Use the NavBar on the top of your screen to navigate to different pages in the application. From the left, you have these options: Profile settings, Programs, Goal Dashboard and finally the Logout button for when you are finished using the application. </p>

    <div class ="flex justify-center"><img src="../../../assets/images/faq/profile-settings.png" class = "pt-10"/></div>
    <p>Profile settings show you your basic information like your name, email, height, weight, fitness level and fitness goal. On this page you can edit your height, weight, fitness level and/or fitness goal. Click on the “Save” button after changing the fields to update your information.</p>
</div>